[user]
	name = recurze
	email = rahulv.9942@gmail.com
[core]
	editor = vim
	pager = less -R
[alias]
	b = branch
	st = status
	ci = commit
	co = checkout
	cb = rev-parse --abbrev-ref HEAD
	rb = rebase
	last = log -1 HEAD
	unstage = reset HEAD --
[merge]
	tool = nvimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[rebase]
	autosquash = true
[status]
	showUntrackedfiles = no
